.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }
  body{
    background-color: #fdfdcb;
    font-family: "Roboto", sans-serif;

  }
  a{
    color: #c54c82;
  }
  header{
    border-bottom: 1px solid #fdfdcb;
    padding: 0 0 30px 0;
  }
  .city{
    margin: 0;
    font-size: 38px;
    line-height: 48px;
  }
  .app{
    background-color: #f4aeba;
    max-width: 600px;
    margin: 45px auto;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 16px;
    padding: 30px;
  }
  .app-details{
    font-size: 16px;
    color: rgba(39, 33,66, 0,4);
    line-height: 25px;
    font-weight: 500;
    
  }
  .app-details strong {
    color: #6643b5;
  }
  .app-temperature{
    display: flex;
    margin-left: 10px;
  }
  .app-value{
    font-size: 88px;
    font-weight: bold;
  }
  .app-icon{
    font-size: 55px;
    margin-top: 22px;
  }
  .app-unit{
    margin-top: 16px;
    font-size: 28px;
  }
.search-form-input{
    background-color: #fdfdcb;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button{
background-color: #ec729c;
padding: 15px 30px;
font-size: 16px;
border: none;
border-radius: 6px;
color: #c54c82;
margin-left: 5px;
}
main{
    padding: 30px 0;
}
.app-data{
    display: flex;
    justify-content: space-between;

}

footer{
    border-bottom: 1px solid #fdfdcb;
    padding: 30px 0 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
  }
